PharmacyTool最新/View/Service References/Service.File.Reader/FileReader4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/File/Reader/FileReader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" />
  <xs:element name="OpenCSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filepath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenCSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="OpenCSVResult" nillable="true" type="q1:ArrayOf現在庫データ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open使用量CSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="検索文字列" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="全期間" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限加算月" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open使用量CSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Open使用量CSVResult" nillable="true" type="q2:在庫リターンデータセットOf薬局使用量データZYtYGqK_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open使用量2CSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="検索文字列" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="全期間" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限加算月" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open使用量2CSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Open使用量2CSVResult" nillable="true" type="q3:在庫リターンデータセットOf薬局使用量データZYtYGqK_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open不動品CSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="検索文字列" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="全期限" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限内" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限切" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="以内指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限加算月" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open不動品CSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Open不動品CSVResult" nillable="true" type="q4:在庫リターンデータセットOf不動品データZYtYGqK_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get現在庫検索データ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="検索ワード" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="全期限" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限内" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限切" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="以内指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限加算月" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get現在庫検索データResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Get現在庫検索データResult" nillable="true" type="q5:在庫リターンデータセットOf現在庫データZYtYGqK_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get後発品検索データ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YJコード" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="全期限" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限内" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限切" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="以内指定か" type="xs:boolean" />
        <xs:element minOccurs="0" name="期限加算月" type="xs:int" />
        <xs:element minOccurs="0" name="他規格_x30FB_剤形も表示する" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get後発品検索データResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Get後発品検索データResult" nillable="true" type="q6:在庫リターンデータセットOf現在庫データZYtYGqK_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open掲示板データ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="カテゴリ名" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="グループNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open掲示板データResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Open掲示板データResult" nillable="true" type="q7:掲示板リターンデータセット" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open掲示板データキーワード検索">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="キーワード" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="カテゴリ名" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Open掲示板データキーワード検索Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="Open掲示板データキーワード検索Result" nillable="true" type="q8:掲示板リターンデータセット" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="掲示板記事修正確認チェック">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="カテゴリ名" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="記事No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="暗証キー" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="管理者か" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="掲示板記事修正確認チェックResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="掲示板記事修正確認チェックResult" nillable="true" type="q9:掲示板記事修正確認Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="GetThreadTitlesResult" nillable="true" type="q10:ArrayOfThreadTitlesEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="テロップ記事読み込み">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="テロップ記事読み込みResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="テロップ記事読み込みResult" nillable="true" type="q11:テロップ記事リターンEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMerge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="タイプ" type="q12:MergeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoMergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="DoMergeResult" nillable="true" type="q13:在庫MergeリターンEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMEDISデータ最終更新日時">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMEDISデータ最終更新日時Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" minOccurs="0" name="GetMEDISデータ最終更新日時Result" nillable="true" type="q14:最終更新日時リターンデータセット" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>