PharmacyTool最新/PharmacyToolMobile/Service References/Service.File.Reader/FileReader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/File/Reader/FileReader.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOf現在庫データ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="現在庫データ" nillable="true" type="tns:現在庫データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf現在庫データ" nillable="true" type="tns:ArrayOf現在庫データ" />
  <xs:complexType name="現在庫データ">
    <xs:sequence>
      <xs:element minOccurs="0" name="_名称_xFF12_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="レセプト電算処理システムコード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="使用期限" type="xs:dateTime" />
      <xs:element minOccurs="0" name="個別医薬品コード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名と名称_xFF12_連結" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="在庫数" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="店名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="後発区分" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="最終更新日時" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="薬価" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="製造会社" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="現在庫データ" nillable="true" type="tns:現在庫データ" />
  <xs:complexType name="在庫リターンデータセットOf薬局使用量データZYtYGqK_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="在庫リターンデータセットOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="薬局使用量データ" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索キーワード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索結果データlist" nillable="true" type="tns:ArrayOf薬局使用量データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="在庫リターンデータセットOf薬局使用量データZYtYGqK_P" nillable="true" type="tns:在庫リターンデータセットOf薬局使用量データZYtYGqK_P" />
  <xs:complexType name="ArrayOf薬局使用量データ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="薬局使用量データ" nillable="true" type="tns:薬局使用量データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf薬局使用量データ" nillable="true" type="tns:ArrayOf薬局使用量データ" />
  <xs:complexType name="薬局使用量データ">
    <xs:sequence>
      <xs:element minOccurs="0" name="使用年月" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="使用量" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名と名称_xFF12_連結" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="名称_xFF12_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="商品コード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="店名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="最終更新日時" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="薬価" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="薬局使用量データ" nillable="true" type="tns:薬局使用量データ" />
  <xs:complexType name="在庫リターンデータセットOf不動品データZYtYGqK_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="在庫リターンデータセットOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="不動品データ" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索キーワード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索結果データlist" nillable="true" type="tns:ArrayOf不動品データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="在庫リターンデータセットOf不動品データZYtYGqK_P" nillable="true" type="tns:在庫リターンデータセットOf不動品データZYtYGqK_P" />
  <xs:complexType name="ArrayOf不動品データ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="不動品データ" nillable="true" type="tns:不動品データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf不動品データ" nillable="true" type="tns:ArrayOf不動品データ" />
  <xs:complexType name="不動品データ">
    <xs:sequence>
      <xs:element minOccurs="0" name="レセプト電算処理システムコード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="一包単位量" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="使用期限" type="xs:dateTime" />
      <xs:element minOccurs="0" name="個別医薬品コード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="医薬品名と名称_xFF12_連結" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="名称_xFF12_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="在庫数" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="店名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="最終更新日時" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="薬価" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="不動品データ" nillable="true" type="tns:不動品データ" />
  <xs:complexType name="在庫リターンデータセットOf現在庫データZYtYGqK_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="在庫リターンデータセットOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="現在庫データ" Namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索キーワード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="検索結果データlist" nillable="true" type="tns:ArrayOf現在庫データ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="在庫リターンデータセットOf現在庫データZYtYGqK_P" nillable="true" type="tns:在庫リターンデータセットOf現在庫データZYtYGqK_P" />
  <xs:complexType name="掲示板リターンデータセット">
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="キーワード検索結果か" type="xs:boolean" />
      <xs:element minOccurs="0" name="メイン記事数" type="xs:int" />
      <xs:element minOccurs="0" name="作成グループNo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="掲示板データ" nillable="true" type="q1:ArrayOfArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" />
      <xs:element minOccurs="0" name="検索したキーワード" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="記事取得成功か" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="掲示板リターンデータセット" nillable="true" type="tns:掲示板リターンデータセット" />
  <xs:complexType name="投稿Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomepageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="カテゴリ名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="投稿日" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="投稿者名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="文字色" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="暗証キー" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="添付ファイルlist" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="記事" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="投稿Entity" nillable="true" type="tns:投稿Entity" />
  <xs:complexType name="ArrayOf返信Entity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="返信Entity" nillable="true" type="tns:返信Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf返信Entity" nillable="true" type="tns:ArrayOf返信Entity" />
  <xs:complexType name="返信Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomepageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="カテゴリ名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="投稿日" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="投稿者名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="文字色" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="添付ファイルlist" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="記事" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="返信Entity" nillable="true" type="tns:返信Entity" />
  <xs:complexType name="掲示板記事修正確認Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="暗証キーチェック成功" type="xs:boolean" />
      <xs:element minOccurs="0" name="記事データ" nillable="true" type="tns:投稿Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="掲示板記事修正確認Entity" nillable="true" type="tns:掲示板記事修正確認Entity" />
  <xs:complexType name="ArrayOfThreadTitlesEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ThreadTitlesEntity" nillable="true" type="tns:ThreadTitlesEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThreadTitlesEntity" nillable="true" type="tns:ArrayOfThreadTitlesEntity" />
  <xs:complexType name="ThreadTitlesEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="スレッド作成日" type="xs:dateTime" />
      <xs:element minOccurs="0" name="スレッド名" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="画像パス" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThreadTitlesEntity" nillable="true" type="tns:ThreadTitlesEntity" />
  <xs:complexType name="テロップ記事リターンEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="テロップ記事" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="読み込み成功か" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="テロップ記事リターンEntity" nillable="true" type="tns:テロップ記事リターンEntity" />
  <xs:simpleType name="MergeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="現在庫" />
      <xs:enumeration value="使用量" />
      <xs:enumeration value="不動品" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MergeType" nillable="true" type="tns:MergeType" />
  <xs:complexType name="在庫MergeリターンEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Merge成功か" type="xs:boolean" />
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="在庫MergeリターンEntity" nillable="true" type="tns:在庫MergeリターンEntity" />
  <xs:complexType name="最終更新日時リターンデータセット">
    <xs:sequence>
      <xs:element minOccurs="0" name="MEDIS最終更新日時" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="データ取得成功か" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="最終更新日時リターンデータセット" nillable="true" type="tns:最終更新日時リターンデータセット" />
</xs:schema>