PharmacyTool最新/PharmacyToolMobile/Service References/Service.File.Reader/FileReader1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/File/Reader/FileReader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" />
  <xs:complexType name="ArrayOfArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" nillable="true" type="tns:ArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" nillable="true" type="tns:ArrayOfArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" />
  <xs:complexType name="ArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" name="Key" nillable="true" type="q1:投稿Entity" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.File.Reader" name="Value" nillable="true" type="q2:ArrayOf返信Entity" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" nillable="true" type="tns:ArrayOfKeyValueOf投稿EntityArrayOf返信EntityDdfttc_Sh" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
</xs:schema>