PharmacyTool最新/View/Service References/Service.DAO.PharmacyTool.ユーザー管理/UserManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E7%AE%A1%E7%90%86" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E7%AE%A1%E7%90%86" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateNewUser結果">
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ユーザー作成成功かどうか" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateNewUser結果" nillable="true" type="tns:CreateNewUser結果" />
  <xs:complexType name="DeleteUser結果">
    <xs:sequence>
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ユーザー削除成功かどうか" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteUser結果" nillable="true" type="tns:DeleteUser結果" />
  <xs:complexType name="ArrayOfAllUser情報取得結果">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllUser情報取得結果" nillable="true" type="tns:AllUser情報取得結果" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllUser情報取得結果" nillable="true" type="tns:ArrayOfAllUser情報取得結果" />
  <xs:complexType name="AllUser情報取得結果">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="アクセス権限" type="xs:int" />
      <xs:element minOccurs="0" name="削除フラグ" type="xs:boolean" />
      <xs:element minOccurs="0" name="変更前のUserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllUser情報取得結果" nillable="true" type="tns:AllUser情報取得結果" />
</xs:schema>