PharmacyTool最新/View/Service References/Service.DAO.PharmacyTool.ユーザー管理/UserManagement1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/ユーザー管理/UserManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/ユーザー管理/UserManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/ユーザー管理/UserManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E7%AE%A1%E7%90%86" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagement_CreateNewUser実行_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser実行" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_CreateNewUser実行_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser実行Response" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_DeleteUser実行_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser実行" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_DeleteUser実行_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser実行Response" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AllUser情報取得実行_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUser情報取得実行" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AllUser情報取得実行_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUser情報取得実行Response" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AllUser情報更新実行_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUser情報更新実行" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_AllUser情報更新実行_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUser情報更新実行Response" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_LoginUser情報更新実行_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser情報更新実行" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_LoginUser情報更新実行_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser情報更新実行Response" />
  </wsdl:message>
  <wsdl:portType name="IUserManagement">
    <wsdl:operation name="CreateNewUser実行">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/CreateNewUser実行" message="tns:IUserManagement_CreateNewUser実行_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/CreateNewUser実行Response" message="tns:IUserManagement_CreateNewUser実行_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser実行">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/DeleteUser実行" message="tns:IUserManagement_DeleteUser実行_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/DeleteUser実行Response" message="tns:IUserManagement_DeleteUser実行_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllUser情報取得実行">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/AllUser情報取得実行" message="tns:IUserManagement_AllUser情報取得実行_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/AllUser情報取得実行Response" message="tns:IUserManagement_AllUser情報取得実行_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllUser情報更新実行">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/AllUser情報更新実行" message="tns:IUserManagement_AllUser情報更新実行_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/AllUser情報更新実行Response" message="tns:IUserManagement_AllUser情報更新実行_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser情報更新実行">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/LoginUser情報更新実行" message="tns:IUserManagement_LoginUser情報更新実行_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/LoginUser情報更新実行Response" message="tns:IUserManagement_LoginUser情報更新実行_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagement" type="tns:IUserManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser実行">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/CreateNewUser実行" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser実行">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/DeleteUser実行" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllUser情報取得実行">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/AllUser情報取得実行" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllUser情報更新実行">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/AllUser情報更新実行" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser情報更新実行">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/LoginUser情報更新実行" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagement">
    <wsdl:port name="BasicHttpBinding_IUserManagement" binding="tns:BasicHttpBinding_IUserManagement">
      <soap:address location="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E7%AE%A1%E7%90%86/UserManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>