PharmacyTool最新/PharmacyToolMobile/Service References/Service.DAO.PharmacyTool.アクセス数管理/AccessManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E6%95%B0%E7%AE%A1%E7%90%86" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E6%95%B0%E7%AE%A1%E7%90%86" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="アクセス数取得結果">
    <xs:sequence>
      <xs:element minOccurs="0" name="アクセス数" type="xs:int" />
      <xs:element minOccurs="0" name="エラーメッセージ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="取得成功か" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="アクセス数取得結果" nillable="true" type="tns:アクセス数取得結果" />
</xs:schema>