PharmacyTool最新/PharmacyToolMobile/Service References/Service.DAO.PharmacyTool.アクセス数管理/AccessManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/アクセス数管理/AccessManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E6%95%B0%E7%AE%A1%E7%90%86" />
  <xs:element name="Doアクセス数カウントアップ取得">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Doアクセス数カウントアップ取得Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E3%82%A2%E3%82%AF%E3%82%BB%E3%82%B9%E6%95%B0%E7%AE%A1%E7%90%86" minOccurs="0" name="Doアクセス数カウントアップ取得Result" nillable="true" type="q1:アクセス数取得結果" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>