PharmacyTool最新/View/Service References/Service.DAO.PharmacyTool.店舗/StoreData1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoreData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/店舗/StoreData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/店舗/StoreData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/店舗/StoreData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E5%BA%97%E8%88%97" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoreData_店舗名取得_InputMessage">
    <wsdl:part name="parameters" element="tns:店舗名取得" />
  </wsdl:message>
  <wsdl:message name="IStoreData_店舗名取得_OutputMessage">
    <wsdl:part name="parameters" element="tns:店舗名取得Response" />
  </wsdl:message>
  <wsdl:message name="IStoreData_新規店舗名作成_InputMessage">
    <wsdl:part name="parameters" element="tns:新規店舗名作成" />
  </wsdl:message>
  <wsdl:message name="IStoreData_新規店舗名作成_OutputMessage">
    <wsdl:part name="parameters" element="tns:新規店舗名作成Response" />
  </wsdl:message>
  <wsdl:message name="IStoreData_店舗名削除_InputMessage">
    <wsdl:part name="parameters" element="tns:店舗名削除" />
  </wsdl:message>
  <wsdl:message name="IStoreData_店舗名削除_OutputMessage">
    <wsdl:part name="parameters" element="tns:店舗名削除Response" />
  </wsdl:message>
  <wsdl:portType name="IStoreData">
    <wsdl:operation name="店舗名取得">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreData/店舗名取得" message="tns:IStoreData_店舗名取得_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreData/店舗名取得Response" message="tns:IStoreData_店舗名取得_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="新規店舗名作成">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreData/新規店舗名作成" message="tns:IStoreData_新規店舗名作成_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreData/新規店舗名作成Response" message="tns:IStoreData_新規店舗名作成_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="店舗名削除">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoreData/店舗名削除" message="tns:IStoreData_店舗名削除_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoreData/店舗名削除Response" message="tns:IStoreData_店舗名削除_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoreData" type="tns:IStoreData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="店舗名取得">
      <soap:operation soapAction="http://tempuri.org/IStoreData/店舗名取得" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="新規店舗名作成">
      <soap:operation soapAction="http://tempuri.org/IStoreData/新規店舗名作成" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="店舗名削除">
      <soap:operation soapAction="http://tempuri.org/IStoreData/店舗名削除" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreData">
    <wsdl:port name="BasicHttpBinding_IStoreData" binding="tns:BasicHttpBinding_IStoreData">
      <soap:address location="http://www.kusurinonakayama.jp/PharmacyTool/Service/DAO/PharmacyTool/%E5%BA%97%E8%88%97/StoreData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>