PharmacyTool最新/PharmacyToolMobile/Service References/Service.DAO.PharmacyTool.店舗/StoreData31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E5%BA%97%E8%88%97" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmacyTool.Web.Service.DAO.PharmacyTool.%E5%BA%97%E8%88%97" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPT店舗名リターンデータセット">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PT店舗名リターンデータセット" nillable="true" type="tns:PT店舗名リターンデータセット" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPT店舗名リターンデータセット" nillable="true" type="tns:ArrayOfPT店舗名リターンデータセット" />
  <xs:complexType name="PT店舗名リターンデータセット">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="店舗名" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PT店舗名リターンデータセット" nillable="true" type="tns:PT店舗名リターンデータセット" />
</xs:schema>